* {

    margin: 0;
    padding: 0;

    font-family: poppins;


}

body {}


.container {


    width: 100%;
    height: 100%;
    margin-left: 50px;
    margin-top: 100px;


    .board {

        margin: 50px;
        padding: 50px;

        width: 40%;
        height: 80%;
        background-color: aqua;

        transition: 0.3s all ease;



    }
}



.cards {

    width: 100%/4;
    height: 100%/4;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 80%;
        height: 80%;
        transition: 0.3s all ease;
        opacity: 0;
    }
}

.cards.clicked {
    background-color: royalblue;

}

.cards.clicked img {
    opacity: 1;
}

.cards.checked img {
    opacity: 1;
}

.cards.shake {
    animation: shake 0.5s;
    background-color: salmon;
}

.reset {

    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: 0.3s all ease;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }


}



cards:hover {
    transform: scale(1.03);
}