:root {
    --BACKGROUND: #FEFCFB;
    --BG-PRIMARY: #FA7436;
    --BG-DARK: #000000;
    --BG-SECONDARY: #2F2F2F;
    --BG-WHITE: #FFFFFF;
}

html, body {
    padding: 0px;
    margin: 0;

}


body {
    background-color: var(--BACKGROUND);
    padding: 0 100px;
    font-family: "Poppins", sans-serif;
}

button {
    font-family: "Poppins", sans-serif;

}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

.margin_bottom_30 {
    margin-bottom: 30px;
}

.margin_bottom_50 {
    margin-bottom: 40px;
}

.margin_bottom_10 {
    margin-bottom: 10px;

}

.margin_bottom_20 {
    margin-bottom: 20px;
}

.margin_left_40 {
    margin-bottom: 20px;
}

.margin_top_40 {
    margin-bottom: 20px;
}



/* Flex Properties*/
.flex {
    display: flex;
}

.flex_direction {
    flex-direction: column;
}

.justify_content {
    justify-content: center;
}

.align_items {
    align-items: center;

}

a {
    text-decoration: none;
    color: black;
}


.navigation_component {


    padding: 20px 0;
    height: 100px;
    box-sizing: border-box;
    align-items: center;


}

.branding_section {

    width: 25%;

    img {
        width: 30px;
    }

    p {
        font-size: 1.2rem;
    }
}

.navigation_section {
    width: 50%;

    ul {
        column-gap: 40px;
        list-style-type: none;
    }
}

.login_details {
    width: 25%;
    justify-content: space-evenly;
    align-items: center;

    >.login_btn {
        color: var(--BG-PRIMARY);
        border: none;
        background-color: white;

        font-size: 1rem;
    }

    >.signup_btn {
        width: 85px;
        height: 35px;
        border-radius: 2opx;
        background-color: #FA7436;
        color: #FFFFFF;


    }
}

.hero_section {
    height: calc(100vh - 100px);
    box-sizing: border-box;


    >.content_section {
        width: 50%;


        h2 {
            font-size: 4.5rem;
        }

        p {
            font-size: 1.8rem;


        }

        .justify_content_space {
            justify-content: space-evenly;
        }

        >.discover_btn {

            width: 140px;
            height: 60px;
            background-color: #FFFFFF;
            border-color: #FA7436;
            color: #FA7436;


        }
    }

    >.image_section {
        width: 50%;

        background-image: url(./assets/success_story.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 10px;
    }
}

.booking_details {
    justify-content: center;

    >.booking_details_div {
        height: 121px;
        width: 841px;
        justify-content: space-evenly;
        border-radius: 3px solid black;
        align-items: center;
        background-color: #FFFFFF;



        >.explore_now {
            width: 100px;
            height: 42px;
            background-color: #FA7436;
            color: #FFFFFF;
        }
    }
}

.benefits_details {
    height: 724px;
    justify-content: center;
    background-color: #F7F8FC;

    >.things_todo {
        height: 482px;
        justify-content: center;
        flex-direction: column;


        h2 {
            font-size: 3rem;
            margin-bottom: 120px;
            margin-top: 120px;
            display: flex;
            justify-content: center;
        }

        >.benefits {
            justify-content: center;
            column-gap: 20px;

            img {
                width: 48px;
                height: 48px;
            }
        }
    }
}

.travel_benefit {

    width: 370px;
    height: 278px;
    background-color: white;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.container {
    >.main_division {

        >.sub_division {

            justify-content: center;
            align-items: center;

            display: flex;
            flex-direction: column;

            >.text_division {
                padding-top: 20px;
                width: 675px;
                height: 142px;
                text-align: center;
                justify-content: center;
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 3rem;
                    margin-bottom: 30px;
                    margin-top: 100px;
                }

                p {

                    font-size: 1rem;
                    margin-bottom: 60px;

                }
            }

            >.image_division {

                margin-top: 100px;
                width: 1170px;
                height: 426px;
                justify-content: center;
                flex-direction: row;

                img {
                    height: 290px;
                    width: 270px;
                    border-radius: 5px;

                }
            }
        }
    }
}

.place_details {
    height: 24px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-radius: 1px solid black;

}

.city-name {
    font-size: 20px;
    font-weight: Medium;
    padding-left: 10px;
}

.rating {
    width: 64px;
    display: flex;
    padding-right: 20px;
    justify-content: space-around;
}

.number-rating {
    color: black;
    /* Or use a specific hex code for the gold color */
}

.star-rating {
    color: gold;
    margin-left: 10px;
    align-items: left;
}

.location_price_details {
    height: 28px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.location {
    display: flex;
    justify-content: space-between;
}

.location_name {
    margin-right: 10px;
    color: #888;
}

.location_name::before {
    content: "\2605";
    margin-right: 5px;
}


.price_details {
    width: 110px;
    display: flex;
    padding-right: 10px;
    justify-content: space-around;
}

.original_price {
    width: 52px;
    color: #888;
    text-decoration: line-through;
    margin-right: 5px;
}

.sale_price {
    width: 52px;
    box-sizing: border-box;
    background-color: #F5D099;
    /* Orange background */
    justify-content: center;
    display: flex;
    color: #E67E22;
    /* Orange text */
}

.pagination_container {
    height: 40px;
    width: 110px;
    justify-content: space-between;

    >.left_navigation {
        button {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 1px solid lightgray;
            background-color: white;
            color: lightgray;
        }
    }

    >.right_navigation {
        button {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 1px solid lightgray;
            background-color: var(--BG-PRIMARY);
            color: lightgray;
        }
    }
}

.vacation_plan {
    height: 893px;
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;

    >.vacation_container {
        height: 653px;
        justify-content: center;
        align-items: center;

        display: flex;
        flex-direction: column;

        >.word_container {
            height: 142px;
            justify-content: center;
            align-items: center;

            display: flex;
            flex-direction: column;

            h2 {
                font-size: 3rem;
                margin-bottom: 30px;
                margin-top: 100px;
            }

            p {
                font-size: 1rem;
                margin-bottom: 60px;
                text-align: center;
            }


        }

        >.image_container {
            margin-top: 100px;
            justify-content: center;
            display: flex;
            column-gap: 10px;
            border-radius: 1px;

            img {
                height: 327px;
                border-radius: 5px;
            }
        }
    }
}

.testimonial_container {
    height: 401px;
    display: flex;
    justify-content: center;

    background-color: #F7F8FC;

    >.testimonial_sub_container {
        height: 356px;
        display: flex;
        width: 60%;
        background-color: #F7F8FC;

        justify-content: space-evenly;
        column-gap: 20px;

        >.word_container {

            height: 279px;
            width: 50%;

            h2 {
                font-size: 3rem;
            }

            p {
                font-size: 1rem;
            }

        }

        >.image_container {
            background-color: #FFFFFF;
            width: 50%;
            height: 279px;
        }
    }
}

.update_info {

    display: flex;
    justify-content: center;

    >.update_information {



        h2 {
            font-size: 3rem;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            margin-top: 100px;
        }


        >.sub_division {

            width: 1170px;
            height: 426px;
            justify-content: center;
            align-items: center;

            column-gap: 20px;

            img {
                height: 290px;
                width: 270px;
                border-radius: 5px;

            }

            p {
                color: 999999;

            }



        }
    }
}

.content_section {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;


    >.sub_section {

        background-color: #FA7436;
        width: 1171px;
        height: 416px;
        border-radius: 25px;



        h2 {

            display: flex;
            font-size: 3rem;
            justify-content: center;


            margin-bottom: 30px;
            margin-top: 100px;


        }

        >.section {

            display: flex;
            justify-content: center;
        }

        input {

            width: 674px;
            height: 68px;


        }

        button {

            width: 120px;
            height: 68px;
            background-color: #FA7436;

        }
    }


}

.main_section {


    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
    height: auto;



    padding: 100px;

    >.left_section {



        justify-content: center;
        align-items: center;

        width: 40%;

        >.logo {

            column-gap: 10px;
        }
    }

    >.right_section {
        width: 60%;
        column-gap: 40px;
        row-gap: 30px;
    }

    p {

        color: #666666;
    }
}